@media (min-width: 768px) {
	.region-primary-menu {
		display: inline-block !important;
		width: auto;
		margin: 0;
	}
	.nav-region {
		float: right;
	}
	.region-primary-menu,
	.menu-base-theme li a {
		background: none;
	}
	.menu-base-theme a,
	.menu-base-theme > li {
		border: 0;
	}
	.menu-base-theme li a {
		padding: 0 10px;
		color: #666;
		white-space: nowrap;
		line-height: 80px;
	}
	.menu-base-theme a:hover,
	.menu-base-theme a:focus,
	.menu-base-theme a:active,
	.menu-base-theme a.current,
	.menu-base-theme a.is-active  {
		color: #e7d553;
	}
	.menu-base-theme ul a, 
	.menu-base-theme ul a:hover, 
	.menu-base-theme ul a:focus, 
	.menu-base-theme ul a:active, 
	.menu-base-theme ul a.highlighted,
	.menu-base-theme a.is-active  {
		border: 0 !important;
	}
	.menu-base-theme li {
		float: left;
	}
	.menu-base-theme.sm-rtl li {
		float: right;
	}
	.menu-base-theme ul li, .menu-base-theme.sm-rtl ul li, 
	.menu-base-theme.sm-vertical li {
		float: none;
	}
	.menu-base-theme ul a, 
	.menu-base-theme.sm-vertical a {
		white-space: normal;
	}
	.menu-base-theme .sm-nowrap > li > a, 
	.menu-base-theme .sm-nowrap > li > :not(ul) a {
		white-space: nowrap;
	}
	.menu-base-theme ul {
		position: absolute;
		border: 1px solid #EAEAEA;
		padding: 0;
		box-shadow: 0px 5px 0px -3px rgba(0, 0, 0, 0.05);
	}
	.menu-base-theme ul ul {
		box-shadow: none;
		margin-top: -2px;
	} 
	.menu-base-theme a span.sub-arrow {
		padding: 0;
		top: 0px;
		margin-top: 0;
		bottom: 2px;
		right: 7px;
		margin-left: -5px;
		left: auto;
		border: none;
		background: none;
		font-size: 14px;
		width: auto;
		height: auto;
	}
	.menu-base-theme a.highlighted span.sub-arrow {
		color: transparent !important;
	}
	.menu-base-theme a.highlighted span.sub-arrow:before {
		margin-top: -1px;
	}
	.menu-base-theme ul a span.sub-arrow {
		top: 50% !important;
		margin-top: -11px;
		bottom: auto;
		left: auto;
		margin-left: 0;
		right: 5px;
	}
	
	.menu-base-theme .sub-arrow {
		display: none !important;
	}	

	.menu-base-theme .has-submenu:after {
		content: "\f107";
		font-family: FontAwesome;
		right: 5px;
		position: absolute;
	}
	.menu-base-theme ul .has-submenu:hover:after  {
		content: "\f105";
	}
	
	.is-sticky #header .menu-base-theme a {
		line-height: 53px;
	}
	.menu-base-theme ul a,
	.is-sticky #header .menu-base-theme ul li a {
		height: auto;
		padding: 6px 15px;
		line-height: 23px !important;
	}
	.menu-base-theme span.scroll-up,
	.menu-base-theme span.scroll-down {
		position: absolute;
		display: none;
		visibility: hidden;
		overflow: hidden;
		background: white;
		height: 20px;
		top: -50px;
	}
	.menu-base-theme span.scroll-up-arrow,
	.menu-base-theme span.scroll-down-arrow {
		position: absolute;
		top: -2px;
		left: 50%;
		margin-left: -8px;
		width: 0;
		height: 0;
		overflow: hidden;
		border-width: 8px;
		border-style: dashed dashed solid dashed;
		border-color: transparent transparent #999 transparent;
	}
	.menu-base-theme span.scroll-down-arrow {
		top: 6px;
		border-style: solid dashed dashed dashed;
		border-color: #999 transparent transparent transparent;
	}
	.colored-header.default-header3 .nav-menu-wrap,
	.colored-header.center-header .nav-menu-wrap,
	.dark-header.default-header3 .header-element .header-element-item,
	.colored-header.default-header3 .header-element .header-element-item {
		border-color: rgba(255,255,255,0.18);
	}
	.default-header3 .menu-base-theme > li {
		margin-right: 10px;
	}
	.sticky-wrapper,
	.sticky-wrapper.is-sticky {
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-o-transition: .5s;
		-ms-transition: .5s;
		transition: .5s;
	}

/*--------------------------------------------*/
/*	HEADER COLORS
/*--------------------------------------------*/

/*	COLORED HEADER  */
	.colored-header .header-wrap {
		margin-bottom: -1px;
	}
	.colored-header #header {
		background-color: #e7d553;
		border-color: rgba(255, 255, 255, 0.18);
	}
	.colored-header-full .header-wrap #header-top {
		border-color: transparent;
	}
	.colored-header .menu-base-theme li a,
	.colored-header .menu-base-theme a.highlighted span.sub-arrow:before {
		color: #FBFBFB !important;
	}
	.colored-header .menu-base-theme a span.sub-arrow {
		color: #FBFBFB;
	}
	.colored-header .menu-base-theme ul {
		box-shadow: 0px 8px 0px -5px rgba(255, 255, 255, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.1);
	}
	.colored-header .menu-base-theme ul li {
		border-bottom:  1px solid rgba(255, 255, 255, 0.1);
	}
	.colored-header .menu-base-theme ul a:hover, 
	.colored-header .menu-base-theme ul a:focus, 
	.colored-header .menu-base-theme ul a:active, 
	.colored-header .menu-base-theme ul a.highlighted {
		opacity: 0.8;
	}
	.colored-header .menu-base-theme li a:hover,
	.single-page-menu #header .menu-base-theme li.active a,
	.single-page-menu .menu-base-theme ul a:hover,
	.single-page-menu .menu-base-theme a.highlighted span.sub-arrow:before {
		opacity: 0.8;
	}
	.colored-header.default-header3 #header {
		background-color: transparent;
	}
	.colored-header.default-header3 .is-sticky #header {
		background-color: #e7d553;
	}
	.colored-header.default-header3 .nav-menu-wrap {
		background-color: #e7d553;
	}
	.colored-header.default-header3 .nav-menu-wrap {
		background-color: #e7d553;
	}
	.colored-header.default-header3 .is-sticky .nav-menu-wrap {
		background-color: transparent !important;
	}
	
/*--------------------------------------------*/
/*	DARK HEADER
/*--------------------------------------------*/
	.dark-header .menu-base-theme li a {
		color: #FBFBFB;
	}
	.dark-header #header-top a,
	.dark-header #search i:hover,
	.dark-header .menu-base-theme li a:hover,
	.dark-header .menu-base-theme a.highlighted span.sub-arrow:before {
		color: #aaa;
	}
	.dark-header .toggle-control a {
		color: #fff;
		border-top: 30px solid #e7d553;
		border-left: 30px solid transparent !important;
	}
	.dark-header .menu-base-theme ul {
		border-color: #383838;
		background: #333;
		box-shadow: 0px 10px 0px -5px rgba(255, 255, 255, 0.1);
	}
	.dark-header .menu-base-theme ul a:hover, 
	.dark-header .menu-base-theme ul a:focus, 
	.dark-header .menu-base-theme ul a:active, 
	.dark-header .menu-base-theme ul a.highlighted {
		background: #2D2D2D;
	}
	.dark-header .menu-base-theme ul li  {
		border-bottom: 1px solid #383838;
	}
	.dark-header.default-header2 .header .logo:after,
	.dark-header.default-header2 .header-element:after,
	.colored-header.default-header2 .header .logo:after,
	.colored-header.default-header2 .header-element:after {
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 5%, rgba(255,255,255,0.10) 30%, rgba(255,255,255,0.10) 70%, rgba(255,255,255,0) 95%);
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 5%, rgba(255,255,255,0.10) 30%, rgba(255,255,255,0.10) 70%, rgba(255,255,255,0) 95%);
		background: linear-gradient(to bottom, rgba(255,255,255,0) 5%, rgba(255,255,255,0.10) 30%, rgba(255,255,255,0.10) 70%, rgba(255,255,255,0) 95%);
	}

	.center-header .menu-base-theme ul a, 
	.center-header .is-sticky #header .menu-base-theme ul li a {
		padding: 6px 15px;
	} 
	.center-header .menu-base-theme ul a span.sub-arrow {
		top: 17px;
	}
	 
	.bottom-widgets{
		text-align: left;
		padding: 50px 0;
	}

  /*COMMENT*/
	.comment-wrap .author-details{ width: 10%; }
	.comment-wrap .author-comments{ width: 90%;}
  
	.footer3 .region-footer-first .menu li {
		display: inline-block;
		border: none;
		margin-top: 20px;
	}
	.footer3 .footer-widget .region-footer-first ul.menu li a:before {
		display: none;
	}

	#content_wide .container-wrap {
		width: 750px;
	}
  
}

@media (min-width: 992px) {
	#content_wide .container-wrap {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	#content_wide .container-wrap {
		width: 1170px;
	}
}

@media (max-width: 992px) {
	.text-xxlarge, 
	.text-xxlarge-light {
		font-size: 100px !important;
	}
}

@media (max-width: 768px) {
	.text-xxlarge, 
	.text-xxlarge-light {
		font-size: 90px !important;
	}
	#page-wrapper,
	#content_wide .block {
		padding: 35px 0px;
	}
	.box-margin #page {
		margin-top: 0;
		margin-bottom: 0;
	}
	.framed-layout {
		padding: 0px;
	}
	img { width: 100%; }
	.main-header,
	.is-sticky .main-header,
	.main-header .logo img,
	.is-sticky .logo img,
	.main-header.header-sticky:not(.header-static) nav#mainMenu ul.main-menu,
	.menu-parent {
		transition: none;
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: none;
	}
	#pre-header,
	.left_fixed_header .header-wrap .social-media,
	.right_fixed_header .header-wrap .social-media {
		display: none;
		visibility: hidden;
	}
	.header-top-right {
		text-align: left;
		border-top: 1px solid #f9f9f9;
	}
	.dark-header .header-top-right {
		border-color: rgba(255, 255, 255, 0.1);
	}
	.colored-header.colored-header-full .header-top-right {
		border-color: rgba(255, 255, 255, 0.2);
	}
	#header-top .header-top-right .social-media {
		float: none;
		margin-left: 0;
	}
	.is-sticky #header {
		position: relative !important;
	}
	.header-element {
		top: -80px;
		position: absolute;
		right: 70px;
	}
	.sidenav .header-element {
		position: relative !important;
		width: 100% !important;
		top: auto;
		right: auto;
	}
	.header-element-item {
		padding: 0 !important;
	}
	.region-primary-menu {
		margin-top: 0px;
	}	
	.brand.logo {
		max-width: 180px;
		padding: 0;
	}
	.menu-base-theme a {
		color: #666;
		padding: 7px 20px !important;
	}
	.menu-base-theme li a {
		border-bottom: 1px solid #EEF0F7;
	}
	.menu-base-theme ul li {
	  border-top: none;
	}
	
	.dark-header .menu-base-theme li a {
		border-bottom: 1px solid #444444;
	}
	.menu-base-theme a span.sub-arrow, 
	.menu-base-theme a.highlighted span.sub-arrow:before {
		color: #fff !important;
		line-height: 24px;
	}
	a.toggle-menu {
		float: none;
		position: relative;
		display: none;
	}
	.toggle_menu ul.menu-parent {
		margin-right: auto;
		display: block;
		float: none;
	}
	.main-header .region-header-right {
		display: block;
	}
	.header-info-box ul li {
		display: block;
		margin: 0 0 18px 0;
	}
	.colored-header-half #nav-menu-wrap {
		background-color: #ffffff;
	    display: block;
		float: left;
		width: 100%;
	}
	.colored-header-half.default-header3 .header-element .header-element-icon {
		color: #555555;
	}

	.colored-header-half.default-header3 #header,
	.colored-header.colored-header-half .menu-base-theme ul,
	.dark-header .menu-base-theme ul {
		background-color: transparent;
	}
	
	.header .pull-right {
		float: left !important;
		display: block;
		width: 100%;
	    padding: 15px 0;
	}
	.text-medium-light,
	.text-medium,
	.text-large, 
	.text-large span, 
	.text-large span span,
	.text-large-light,
	.text-large-light span,
	.text-large-light span span {
		font-size: 30px !important;
		line-height: 1.1 !important;
	}
	.footer-bottom .text-right {
		text-align: left !important;
	}
	.block-title {
		font-size: 20px;
	}
	.footer-widget .block {
		padding: 15px;
	}
	.footer-widget .footer-widget-section:first-child .block {
		padding-left: 15px;
		padding-top: 50px;
	}
	.footer-widget .footer-widget-section:last-child .block {
		padding-right: 15px;
	}

	.views-exposed-form .form-item, 
	.views-exposed-form .form-actions {
		display: block;
		margin-bottom: 10px;
	}
	.node-content .post-image {
		margin-bottom: 25px;
	}
	.node-content .product-add-to-cart {
		text-align: left;
		margin-top: 10px;
	}
	.icon-box-items {
		border-right: none;
		margin-bottom: 20px;
	}

}

@media (max-width: 480px) {
	#pre-header,
	#header-top {
		display: none;
		visibility: hidden;
	}
	.brand.logo {
		max-width: 120px;
	    line-height: 60px;
	}
	.header-element {
		top: -60px;
	}
	.header-element .header-element-icon {
		line-height: 60px;
	}
	.navbar-default .navbar-toggle {
		top: 10px;
	}
	.sideopenbtn-float {
		right: 35px;
		top: 35px;
	}
	.sideopenbtn .sidenav-toggle .icon-bar {
		height: 2px;
	}
	.text-medium-light,
	.text-medium,
	.text-large,
	.text-large-light,
	.text-xlarge,
	.text-xlarge-light,
	.text-xxlarge,
	.text-xxlarge-light,
	.block-title {
		font-size: 17px !important;
		letter-spacing: normal !important;
		margin-bottom: 10px;
	}
	.button {
		padding: 12px 15px;
		font-size: 10px;
	}
	.slide-content .slide-button .button {
		padding: 9px 10px;
		font-size: 8px;
	}
	.grid-wrapper {
		margin-right: 0px;
		margin-left: 0px;
	}
	
	.footer-bottom .block,
	.footer-bottom .copyright {
		padding: 15px 0;
	}

}